/* ==========================================================================
   Select
   ========================================================================== */

.Select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  outline-offset: 2px;
  outline: 1px solid transparent;
  background: var(--color-neutral-default);
  border: var(--border-default-heavy);
  color: var(--color-neutral-900);
  cursor: pointer;
  user-select: none;
  transition:
    background-color 0.08s ease,
    border-color 0.25s ease,
    color 0.08s ease,
    outline-color 0.25s ease;
}

.Select:hover {
  border-color: var(--color-grey-heavy);
}

.Select:focus,
.Select:focus-within {
  border-color: var(--color-neutral-focus);
  outline-color: var(--color-neutral-focus);
}

.Select[aria-expanded='true'] {
  border-color: var(--color-neutral-focus);
  outline-color: var(--color-neutral-focus);
}

.Select.focusByMouse {
  outline-color: transparent;
}

/* ==========================================================================
   States
   ========================================================================== */

.open {
  border-color: var(--color-neutral);
}

.disabled {
  background: var(--color-neutral-100);
  color: var(--color-neutral-400);
  cursor: not-allowed;
}

/* ==========================================================================
   Value
   ========================================================================== */

.value {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.placeholder {
  color: var(--color-neutral-500);
}

/* ==========================================================================
   Arrow
   ========================================================================== */

.arrowContainer {
  padding: 0px !important;
  height: fit-content;
  min-width: unset !important;
  width: fit-content;
  user-select: none;
}

.arrowContainer:active {
  background: var(--color-neutral-default) !important;
}

.arrow {
  display: block;
  flex: 0 0 auto;
  transition: transform 0.15s ease;
}

.arrowOpen {
  transform: rotate(180deg);
}

/* ==========================================================================
   Sizes
   ========================================================================== */

.Select.XS {
  padding: 3px 5px;
  font-size: 10px;
  border-radius: 3px;
  gap: 5px;
}

.Select.S {
  padding: 4px 7px;
  font-size: 12px;
  border-radius: 3px;
  gap: 7px;
}

.Select.M {
  padding: 6px 9px;
  font-size: 14px;
  border-radius: 4px;
  gap: 10px;
}

.Select.L {
  padding: 8px 13px;
  font-size: 16px;
  border-radius: 5px;
  gap: 13px;
}

.Select.XL {
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 6px;
  gap: 15px;
}

/* ==========================================================================
   Popup
   ========================================================================== */

.popup {
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow: hidden;
  border: 1px solid var(--color-neutral-focus);
  background: var(--color-neutral-default);
  box-shadow:
    0 6px 16px color-mix(in srgb, CanvasText 10%, transparent),
    0 3px 6px color-mix(in srgb, CanvasText 6%, transparent);
}

/* ==========================================================================
   Popup Search
   ========================================================================== */

.searchContainer {
  border-bottom: var(--border-default-heavy);
}

.searchInput {
  width: 100%;
  box-sizing: border-box;
  border: var(--border-default-heavy);
  background: var(--color-neutral-50);
  color: var(--color-neutral-900);
  outline: none;
}

.searchInput::placeholder {
  color: var(--color-neutral-500);
}

.searchInput:focus {
  border-color: var(--color-neutral);
}

/* ==========================================================================
   Popup Options
   ========================================================================== */

.options {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.option {
  display: flex;
  align-items: center;
  color: var(--color-neutral-900);
  cursor: pointer;
  transition: background 0.1s ease;
  font-weight: 100 !important;
}

.option:hover {
  background: var(--color-neutral-100);
}

.optionSelected {
  background: var(--color-neutral-200);
}

.optionLabel {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.optionFocused {
  background-color: var(--color-neutral-hover);
}

/* ==========================================================================
   Popup Checkbox
   ========================================================================== */

.checkbox {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  border: var(--border-default-heavy);
  color: var(--color-neutral-950);
  background-color: var(--color-neutral-default);
}

.checkboxChecked {
  background: var(--color-neutral-700);
  color: var(--color-neutral-950);
  border-color: var(--color-neutral-700);
}

/* ==========================================================================
   Popup Tree
   ========================================================================== */

.treeArrowContainer {
  padding: 0px !important;
  height: fit-content;
  min-width: unset !important;
  width: fit-content;
  user-select: none;
}

.treeArrowContainer:active {
  background: var(--color-neutral-default) !important;
}
/* ==========================================================================
   Popup Empty
   ========================================================================== */

.empty {
  text-align: center;
  color: var(--color-neutral-500);
}

/* ==========================================================================
   Popup Sizes
   ========================================================================== */

/* --------------------------------------------------------------------------
   XS
   -------------------------------------------------------------------------- */

.XS.popup {
  border-radius: 3px;
}

.XS.popup .searchContainer {
  padding: 3px;
}

.XS.popup .searchInput {
  height: 18px;
  padding: 2px 4px;
  font-size: 9px;
  border-radius: 2px;
}

.XS.popup .options {
  padding: 2px;
  gap: 2px;
}

.XS.popup .option {
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 11px;
  gap: 4px;
}

.XS.popup .checkbox {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  font-size: 8px;
}

.XS.popup .empty {
  padding: 6px;
  font-size: 9px;
}

/* --------------------------------------------------------------------------
   S
   -------------------------------------------------------------------------- */

.S.popup {
  border-radius: 3px;
}

.S.popup .searchContainer {
  padding: 3px;
}

.S.popup .searchInput {
  height: 22px;
  padding: 3px 6px;
  font-size: 11px;
  border-radius: 2px;
}

.S.popup .options {
  padding: 2px;
  gap: 3px;
}

.S.popup .option {
  padding: 3px 6px;
  border-radius: 2px;
  font-size: 13px;
  gap: 6px;
}

.S.popup .checkbox {
  width: 14px;
  height: 14px;
  border-radius: 2px;
  font-size: 9px;
}

.S.popup .empty {
  padding: 8px;
  font-size: 11px;
}

/* --------------------------------------------------------------------------
   M
   -------------------------------------------------------------------------- */

.M.popup {
  border-radius: 4px;
}

.M.popup .searchContainer {
  padding: 4px;
}

.M.popup .searchInput {
  height: 26px;
  padding: 4px 7px;
  font-size: 13px;
  border-radius: 3px;
}

.M.popup .options {
  padding: 2px;
  gap: 4px;
}

.M.popup .option {
  padding: 4px 7px;
  border-radius: 3px;
  font-size: 15px;
  gap: 8px;
}

.M.popup .checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  font-size: 10px;
}

.M.popup .empty {
  padding: 10px;
  font-size: 13px;
}

/* --------------------------------------------------------------------------
   L
   -------------------------------------------------------------------------- */

.L.popup {
  border-radius: 5px;
}

.L.popup .searchContainer {
  padding: 5px;
}

.L.popup .searchInput {
  height: 32px;
  padding: 5px 8px;
  font-size: 16px;
  border-radius: 4px;
}

.L.popup .options {
  padding: 3px;
  gap: 5px;
}

.L.popup .option {
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 17px;
  gap: 10px;
}

.L.popup .checkbox {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  font-size: 11px;
}

.L.popup .empty {
  padding: 12px;
  font-size: 16px;
}

/* --------------------------------------------------------------------------
   XL
   -------------------------------------------------------------------------- */

.XL.popup {
  border-radius: 6px;
}

.XL.popup .searchContainer {
  padding: 6px;
}

.XL.popup .searchInput {
  height: 38px;
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 4px;
}

.XL.popup .options {
  padding: 4px;
  gap: 7px;
}

.XL.popup .option {
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 19px;
  gap: 12px;
}

.XL.popup .checkbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  font-size: 12px;
}

.XL.popup .empty {
  padding: 14px;
  font-size: 18px;
}
