/* ==========================================================================
   styles.css — Global design tokens
   ========================================================================== */

body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

:root {
  color-scheme: light dark;

  /* ==========================================================================
     Typography
     ========================================================================== */

  font-family:
    'Helvetica',
    Helvetica,
    Arial,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;

  /* ==========================================================================
   Semantic colors
   ========================================================================== */

  --color-success: #11864b;
  --color-success-hover: #159d57;
  --color-success-focus: #1db864;
  --color-success-active: #086a38;

  --color-info: #0f93ad;
  --color-info-hover: #12abc8;
  --color-info-focus: #18c2e2;
  --color-info-active: #08748a;

  --color-error: #c32636;
  --color-error-hover: #da2d3f;
  --color-error-focus: #ef3b4e;
  --color-error-active: #a31625;

  --color-warning: #b97b00;
  --color-warning-hover: #d38e00;
  --color-warning-focus: #eda200;
  --color-warning-active: #925f00;
  /* ==========================================================================
     Neutral colors
     ========================================================================== */

  --color-grey-light: #d3d3d3;
  --color-grey-heavy: #b1b1b1;
  --color-grey-extra-heavy: #686868;

  /* ==========================================================================
     Borders
     ========================================================================== */

  --border-default: 1px solid var(--color-grey-light);
  --border-default-heavy: 1px solid var(--color-grey-heavy);
  --border-heavy: 2px solid var(--color-grey-light);
  --border-extra-heavy: 2px solid var(--color-grey-heavy);
}

/* ==========================================================================
   Dark theme
   ========================================================================== */

@media (prefers-color-scheme: dark) {
  :root {
    /* ==========================================================================
       Semantic colors
       ========================================================================== */

    --color-success: #4fc487;
    --color-success-hover: #60cf95;
    --color-success-focus: #74d9a5;
    --color-success-active: #3cab73;

    --color-info: #4fd9f5;
    --color-info-hover: #64dff7;
    --color-info-focus: #7be5fa;
    --color-info-active: #32b8d3;

    --color-error: #e35d69;
    --color-error-hover: #eb6c77;
    --color-error-focus: #f27b85;
    --color-error-active: #c94754;

    --color-warning: #e7bc3f;
    --color-warning-hover: #efc851;
    --color-warning-focus: #f6d469;
    --color-warning-active: #c99c27;

    /* ==========================================================================
       Neutral colors
       ========================================================================== */

    --color-grey-light: #3f3f3f;
    --color-grey-heavy: #777;
    --color-grey-extra-heavy: #b8b8b8;
  }
}
